# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
data/
datasets/
output/

# Model files
models/

# Logs
logs/

# Compiled files
*.exe
*.dll
*.so
*.dylib

# Miscellaneous
.DS_Store